.navbar{
  justify-content:left;
  background-color: $gris_oscuro;

  ul{
    padding-bottom:0;
  }

  .task-number{
    color: $gris_oscuro;
    background: $azul_claro;
    font-weight:bold;
    padding:.4rem 1rem;
    border-radius:7px;
    margin-left: 5rem;
  }

  .App-logo {
    height: 43px;
  }
}

