.news-form {
  
  @include elemento_sombreado;

  .card-header{
    background:$gris_oscuro;
    color:$azul_claro;
    font-weight:bold;
  }
}

.fa-icon.fa-search::after {
  content: "\f002";
  margin-right:7px;
}